{% extends "base.jinja2" %}
{% block content %}
    <div class="jumbotron">
        <p> Pricing service </p>
        <p>We alert you when price drops in items you have saved</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button"> Learn more </a> </p>
    </div>
{% endblock %}